$primary: hsl(25, 100%, 62%);
$primary-300: hsl(25, 100%, 57%);
$secondary: hsl(180, 89%, 26%);
$secondary-300: hsl(180, 90%, 20%);
$neutral-100: hsl(225, 15%, 95%);
$neutral-200: hsl(225, 15%, 93%);
$neutral-100: hsl(225, 15%, 95%);
$neutral-400: hsl(0, 0%, 16%);
$neutral-900: hsl(0, 0%, 10%);