@use 'screens';

@mixin container {
  @media (min-width: screens.$xl2) {
    max-width: screens.$xl;
    padding-inline: 2rem;
    margin-inline: auto;
  }
  
  @media (max-width: screens.$xl2) {
    max-width: screens.$xl;
    padding-inline: 2rem;
    margin-inline: auto;
  }
  
  @media (max-width: screens.$lg) {
    max-width: 100vw;
    padding-inline: 2rem;
  }
  
  @media (max-width: screens.$md) {
    max-width: 100vw;
    padding-inline: 2rem;
  }

  @media (max-width: screens.$sm) {
    max-width: 100vw;
    padding-inline: 1rem;
  }
}