@font-face {
  font-family: Chango;
  src: url('../public/fonts/Chango/Chango-Regular.ttf');
  font-display: swap;
} 
@font-face {
  font-family: Rubik;
  src: url('../public/fonts/Rubik/Rubik-Medium.ttf');
  font-display: swap;
} 
@font-face {
  font-family: Sarala;
  src: url('../public/fonts/Sarala/Sarala-Regular.ttf');
  font-display: swap;
}

$title: Chango, serif;
$subtitle: Rubik, system-ui;
$body: Sarala, sans-serif;