@use 'containers';
@use 'screens';
@use 'fonts';

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  height: calc(100vh - 8rem);
  width: 100%;
  @include containers.container;

  @media (max-width: screens.$md) {
    align-content: center;
    justify-content: start;
    flex-direction: column;
  }

  & > span {
    @media (max-width: screens.$md) {
      display: none !important;
    }
  }
}

.photo {
  width: 538px;
  height: 718px;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.1))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.1));
  border-radius: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1,
  h2 {
    text-align: center;
    align-self: center;
    font-family: fonts.$subtitle;
  }
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: transparent;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
