@use 'colors';

.drawer {
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: colors.$neutral-100;
  position: fixed;
  transition: all 0.2s ease-in-out;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$neutral-900;
  }
}

.container {
  height: 100%;
}

.drawer_icon {
  width: 100%;
  text-align: end;

  svg {
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }
}

.links {
  height: calc(100% - 54.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
}