@use 'colors';
@use 'containers';
@use 'fonts';

.header {
  width: 100vw;
  height: 4rem;
  background-color: colors.$neutral-100;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$neutral-900;
  }
}

.nav {
  @include containers.container;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: fonts.$subtitle;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.links {
  display: flex;
  gap: 2rem;

  @media (max-width: 640px) {
    display: none;
  }

  a {
    padding-block: 3px;
    border: 2px solid transparent;

    &:hover {
      border-bottom-color: colors.$primary;

      @media (prefers-color-scheme: dark) {
        border-bottom-color: colors.$primary-300;
      }
    }
  }
}

.drawer_icon {
  @media (min-width: 640px) {
    display: none;
  }

  display: flex;
  align-items: center;
  cursor: pointer;
}
