@use 'colors';

.header {
  width: 100vw;
  height: 4rem;
  background-color: inherit;
}

.nav {
  max-width: 1024px;
  height: inherit;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  color: colors.$color-neutral-900;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.links {
  display: flex;
  gap: 2rem;

  a {
    color: colors.$color-neutral-900;
    font-family: sans-serif;
    padding-block: 3px;
    border: 2px solid transparent;

    &:hover {
      border-bottom-color: colors.$color-primary;
    }
  }
}
