@use 'colors';

.header {
  width: 100vw;
  height: 4rem;
  background-color: inherit;
}

.nav {
  max-width: 1024px;
  height: inherit;
  margin-inline: auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  a {
    color: colors.$color-neutral-900;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.links {
  display: flex;
  gap: 2rem;

  a {
    color: colors.$color-neutral-900;
    font-family: sans-serif;
    border: 1px solid transparent;

    &:hover {
      border-bottom-color: colors.$color-primary;
    }
  }
}
