@use 'containers';
@use 'screens';

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: calc(100vh - 4rem);
  width: 100%;
  @include containers.container;
}